
<div >

  <div *ngIf="results?.length > 0; else blankTable">
    <div class="container">
      <div style="margin-bottom: px">
        <!-- <button [disabled]="selectedRows.length === 0" (click)="exportToCSV()" class="btn btn-close-white mx-2">Export Selected to CSV</button> -->
        <!-- <button (click)="saveDataToUserAccount()"  class="btn btn-close-white mx-1">Save Data</button> -->
        <!-- <button (click)="selectAllRows()" class="btn btn-close-white">Select All</button> -->
    
        <nav aria-label="..." >
          <ul class="pagination pgbutton my-1">
            <li class="page-item" >
              <button
              
              class="btn btnexport   "
              [disabled]="selectedRows.length === 0"
              (click)="openExportDialogue()"
             
              tabindex="-1"
            >
             <img style="width: 35px;"   src="https://vectordb.app/img/csv-file.png" alt=""> Export
            </button>
            </li>
    
            <li class="page-item">

              <button
              style="padding: -12px;"
             
                class="btn"
                [disabled]="selectedRows.length === 0"
                (click)="saveData()"
                tabindex="-1"
              >
              <img style="width: 30px;"  src="https://vectordb.app/img/saved.svg " alt="">  Save Data
              </button>


            
            </li>
            <li class="page-item mx-1 selectAll d-lg-none">
             
              <a class="page-link" style="padding: 12px; background: #E1EBEE; color: black;" (click)="selectAllRows()" tabindex="+1">
                Select All
              </a>
            </li>
            <div  style="margin-left: 600px; display: flex; flex-direction:  row;"> <p class="pagination-info px-3 " > {{ currentPage }} of {{ totalPages }}</p>
              <li class="" *ngIf="currentPage > 1">
                <a class="forward" (click)="goToPage(currentPage - 1)" tabindex="-1">
                  <img src="https://app.datagateway.in/image/left.png" alt="Previous" class="icon " style="width: 32px;" > 
                  
                </a>
              </li>
              <li class="" *ngIf="currentPage < totalPages">
                <a class="forward" (click)="goToPage(currentPage + 1)" tabindex="+1">
                   <img src="https://app.datagateway.in/image/right.png" alt="Next" class="icon" style="width: 32px;">
                </a>
              </li></div>
           
          </ul>
        </nav>
      </div>
      <div style="color: #f4f8fd; margin-top: 10px;">
        <mat-progress-bar   *ngIf="loading"  [value]="progressValue"></mat-progress-bar>
      </div>
      <div class="scroll-container" style="max-height: 500px;  max-width: 10000px;  overflow-y: auto; overflow-x: auto;">
       
      <div class="row row--top-0 container">
        <div class="col-md-12">
          <h2 class="row__title"></h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
         
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <tr>
                  <th   class="table__th">
                    <input  (click)="selectAllRows()"
                      id="selectAll"
                      type="checkbox"
                      class="table__select-row"
                     
                    />
                  </th>
                  <th class="table__th">Name</th>
                  <th class="table__th">Company</th>
                  <!-- <th class="table__th">Quick Action</th> -->
                  <th class="table__th"  >Title</th>
                  <th class="table__th">Location</th>
                  <th class="table__th">Employees</th>
                  <th class="table__th">Industry</th>
                </tr>
              </thead>
              <tbody class="table__tbody">
                <tr
                  class="table-row table-row--chris"
                  *ngFor="let item of results"
                  (click)="onUserNameClick(item.prospect_Link)"
                >
                  <td class="table-row__td">
                    <input
                      id=""
                      type="checkbox"
                      class="table__select-row"
                      [checked]="isRowSelected(item)"
                      (change)="toggleRowSelection(item)"
                    />
                  </td>
                  <td class="table-row__td newclass" >   <div class="table-row__img"   (click)="openUserDialog(item.prospect_Link)"></div></td>
                  <td class="table-row__td newclass" >
                 
                    <div class="table-row__info">
                      <p class="table-row__name"  (click)="openUserDialog(item.prospect_Link)">
                        <!-- <input id="" type="checkbox" class="table__select-row" [checked]="isRowSelected(item)" (change)="toggleRowSelection(item)"> -->
                        {{ item.first_Name }}
                        <span class="table-row__name"  (click)="openUserDialog(item.prospect_Link)">{{ item.last_name }}</span>
                      </p>
                 
                    </div>
                  </td>
                  <td data-column="Company" class="table-row__td"><p class="table-row__policy d-flex align-items-center justify-content-center "><img class="table-row__imgg  " src="https://logo.clearbit.com/{{item.company_domain}}" alt="img"> </p>
                    <div class="  d-flex align-items-center justify-content-center" >
                      
                      <p
                        (click)="openUserDialog(item.prospect_Link)">
                      {{ item.company_name }} 
                    </div>
                    <div  class="companyimg d-flex justify-content-center align-items-center " > 
                     
                      <span style="margin-right: 12px;"> 
                   
                      <a 
                      href="https://www.{{ item.company_domain }}"
                      target="_blank"
                    >
                    <img  style="width: 17px; padding-left: 2px;" src="https://app.datagateway.in/image/link2.png  " alt="img"> 
                    </a>
                    </span> 
                    <span>  
                      <a href="{{ item.Company_Link }}" target="_blank">
                        <img  style="width: 17px;" src="https://app.datagateway.in/image/linkedin.png " alt="img">
                      </a>
                    </span>
                    </div>
                  </td>
                  <!-- <td data-column="Quick Action" class="table-row__td">
                    <p class="table-row__p-status"></p> -->
                    <!-- <div>
                      <div *ngIf="getStoredValidationStatus(item.email_address) !== null && getStoredValidationStatus(item.email_address) !== undefined" style="width: 200px">

                        <p class="table-row__p-status status--green status" *ngIf="getStoredValidationStatus(item.email_address)?.isValidEmail === 'deliverable'">
                          <img src="https://app.datagateway.in/image/darkgreen2.svg" width="27px" height="50px" alt="">
                          <span style="font-weight: bold; margin-left: 5px;"> Verified email {{ item.email_address }} </span>
                        </p>
                        <p class="table-row__p-status status--red  status" *ngIf="getStoredValidationStatus(item.email_address)?.isValidEmail === 'INVALID'">
                          <img src="https://app.datagateway.in/image/unverfied.svg" width="31px" height="50px" alt="">
                          <span style="font-weight: bold; margin-left: 7px;">Unverified email {{ item.email_address }} </span>
                        </p>
                        <p class="table-row__p-status status--blue status" *ngIf="getStoredValidationStatus(item.email_address)?.isValidEmail === 'UNKNOWN'">
                          <img src="https://app.datagateway.in/image/unknown.svg" width="35px" height="50px" alt="">
                          <span style="margin-left: 10px; font-weight: bold;">Unknown {{ item.email_address }} </span>
                        </p>
                        <p class="table-row__p-status status--yellow status" *ngIf="getStoredValidationStatus(item.email_address)?.isValidEmail === 'ACCEPT_ALL'">
                          <img src="https://app.datagateway.in/image/yellow.svg" width="34px" height="50px" alt="">
                          <span style="font-weight: bold;"> Accept all {{ item.email_address }}</span>
                        </p>
                        <p *ngIf="getStoredValidationStatus(item.email_address)?.isValidEmail === null">
                          Email Not available <span>{{ item.email_address }} </span>
                        </p>
                      </div>
                  
                      <ng-container *ngIf="getStoredValidationStatus(item.email_address) === null || getStoredValidationStatus(item.email_address) === undefined">
                        <div *ngIf="isEmailValid !== null && isEmailValid !== undefined " style="width: 200px">
                         Display the validation status based on the stored value -->
                          <!-- <p class="table-row__p-status status--green status" *ngIf="isEmailValid?.isValidEmail === 'deliverable'">
                            <img src="https://app.datagateway.in/image/darkgreen2.svg" width="27px" height="50px" alt="">
                            <span style="font-weight: bold; margin-left: 5px;"> Verified email {{ item.email_address }} </span>
                          </p>
                          <p class="table-row__p-status status--red  status" *ngIf="isEmailValid?.isValidEmail === 'INVALID'">
                            <img src="https://app.datagateway.in/image/unverfied.svg" width="31px" height="50px" alt="">
                            <span style="font-weight: bold; margin-left: 7px;">Unverified email {{ item.email_address }} </span>
                          </p>
                          <p class="table-row__p-status status--blue status" *ngIf="isEmailValid?.isValidEmail === 'UNKNOWN'">
                            <img src="https://app.datagateway.in/image/unknown.svg" width="35px" height="50px" alt="">
                            <span style="margin-left: 10px; font-weight: bold;">Unknown {{ item.email_address }} </span>
                          </p>
                          <p class="table-row__p-status status--yellow status" *ngIf="isEmailValid?.isValidEmail === 'ACCEPT_ALL'">
                            <img src="https://app.datagateway.in/image/yellow.svg" width="34px" height="50px" alt="">
                            <span style="font-weight: bold;"> Accept all {{ item.email_address }}</span>
                          </p>
                          <p *ngIf="isEmailValid?.isValidEmail === null">
                            Email Not available <span>{{ item.email_address }} </span>
                          </p>
                        </div>
                        <div *ngIf="isEmailValid !== null && isEmailValid !== undefined && isEmailValid?.isValidEmail === 'undeliverable'" style="width: 200px">
                          <p class="table-row__p-status status--red status">
                            <img src="https://app.datagateway.in/image/unverfied.svg" width="31px" height="50px" alt="">
                            <span style="font-weight: bold; margin-left: 7px;">Emails sent to this address will bounce.</span>
                          </p>
                        </div>
                        <button 
                            class="btn"
                            *ngIf="showButton && isEmailValid?.isValidEmail !== 'undeliverable'"
                            (click)="validateEmail(item.email_address, item)" >
                            <span role="status" aria-hidden="false"></span>
                            <span aria-hidden="true" style="padding-right: 23px;" >
                              <img src="https://app.datagateway.in/image/letter.png" width="32px" height="50px" alt=""> Access Email
                            </span>
                        </button> 
                      </ng-container>
                    </div> --> 
                    <!-- <div id="resultsContainer">
                      <div >
                        <p>{{ item.email }}
                          {{isEmailValid}}
                        </p>
                        <ng-container *ngIf="isProspectLinkSaved(item.Prospect_Link)">
                          <p>Email: {{ getEmailStatus(item.Prospect_Link) }}</p>
                        </ng-container>
                        <ng-container *ngIf="!isProspectLinkSaved(item.Prospect_Link)">
                          <button *ngIf="!item.clicked" (click)="accessEmailStatus(item.email, item)">
                            <span aria-hidden="true" style="padding-right: 23px;">
                              <img src="https://app.datagateway.in/image/letter.png" width="32px" height="50px" alt=""> Access Email
                            </span>
                          </button>
                        
                        </ng-container>
                        <p  *ngIf="isProspectLinkSaved(item.Prospect_Link)">{{ getEmailStatus(item.Prospect_Link) }}</p>
                      </div>
                    </div>
                    
                  </td> -->
                 
<!--                   
                  <td data-column="Quick Action" class="table-row__td">
                    <p class="table-row__p-status"></p>
                    <div *ngIf="!item.email_validation && !showResult">
                   
                      <button class="btn" (click)="showResult = true; validateEmail(item.email_address, item)">
                        <span role="status" aria-hidden="false"></span>
                        <span aria-hidden="true" style="padding-right: 23px;">
                          <img src="https://app.datagateway.in/image/letter.png" width="32px" height="50px" alt=""> Access Email
                        </span>
                      </button>
                    </div>
                    <div *ngIf="item.email_validation || showResult">
                     
                      <ng-container *ngIf="getStoredValidationStatus(item.email_address) !== null && getStoredValidationStatus(item.email_address) !== undefined">
                      
                        <p class="table-row__p-status status--green status" *ngIf="item.email_validation === 'deliverable'">
                          <img src="https://app.datagateway.in/image/darkgreen2.svg" width="27px" height="50px" alt="">
                          <span style="font-weight: bold; margin-left: 5px;">Verified email {{ item.email_address }}</span>
                        </p>
                        <p class="table-row__p-status status--red status" *ngIf="item.email_validation === 'undeliverable'">
                          <img src="https://app.datagateway.in/image/unverfied.svg" width="31px" height="50px" alt="">
                          <span style="font-weight: bold; margin-left: 7px;">Unverified email {{ item.email_address }}</span>
                        </p>
                        <p class="table-row__p-status status--blue status" *ngIf="item.email_validation === 'unknown'">
                          <img src="https://app.datagateway.in/image/unknown.svg" width="35px" height="50px" alt="">
                          <span style="margin-left: 10px; font-weight: bold;">Unknown {{ item.email_address }}</span>
                        </p>
                        <p class="table-row__p-status status--yellow status" *ngIf="item.email_validation === 'accept_all'">
                          <img src="https://app.datagateway.in/image/yellow.svg" width="34px" height="50px" alt="">
                          <span style="font-weight: bold;">Accept all {{ item.email_address }}</span>
                        </p>
                        <p *ngIf="getStoredValidationStatus(item.email_address) === null">
                          Email Not available <span>{{ item.email_address }}</span>
                        </p>
                      </ng-container>
                    </div>
                  </td>
                   -->
                    
                  <td 
                    data-column="Job Title"
                    class="table-row__td "
                    (click)="openUserDialog(item.prospect_Link)" >
                    {{ item.job_title }}
                  </td>
                  <td
                    data-column="Location"
                    class="table-row__td"
                    (click)="openUserDialog(item.prospect_Link)"
                  >
                    <p class=" d-flex  align-items-center justify-content-center flex-column">
                      <img  style="width: 20px;" src="https://app.datagateway.in/image/gps.png " alt="img"> {{ item.city }} {{ item.country }}
                    </p>
                  </td>
                  <td data-column="Employee Size" class="table-row__td  ">
                    <p class="">
                      {{ item.employee_size }}
                    </p>
                  </td>
    
                  <td class="table-row__td" data-column="Industry">
                    {{ item.industry }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

       <ul class="pagination my-4 ">
  <li class="page-item " *ngIf="currentPage > 1">
    <a class="page-link" (click)="goToPage(currentPage - 1)" tabindex="-1">
      <img src="https://app.datagateway.in/image/backward.png" alt="Previous" class="icon "> Previous
    </a>
  </li>
  
  <li class="page-item" *ngFor="let page of getPages()">
    <a class="page-link" [class.active]="page === currentPage" (click)="goToPage(page)">{{ page }}</a>
  </li>
  
  <li class="page-item" *ngIf="currentPage < totalPages">
    <a class="page-link" (click)="goToPage(currentPage + 1)" tabindex="+1">
      Next <img src="https://app.datagateway.in/image/next.png" alt="Next" class="icon">
    </a>
  </li>
</ul>

     
      </div>
  </div>

  <ng-container> <router-outlet></router-outlet> </ng-container>
  <ng-template #blankTable>
    <div style="margin-left: 235px; margin-top: 90px">
      <img src="./assets/contact.png" alt="dfas" />
      <span style="margin-left: 15px; padding-left: 0px">
        Initiate your people search by utilizing
        
      </span>
      <div style="margin-left: 20px">filters available in the left panel.</div>
    </div>
    <div style="margin-top: 20px">
      <img  style="width: 20px; padding-left: 5px;" src="https://app.datagateway.in/image/next.png  " alt="img"> 
      <p>Try to add filters to initiate your search.</p>
      
    </div>
    <!-- <button class="btn btn-dark" style="margin-left: 700px;" (click)="openGuideDialog()">?</button> -->
  </ng-template>
</div>




