




<div class="loader-wrapper" *ngIf="loading">
  <!-- <span class="loader"><span class="loader-inner"></span></span> -->
  <img class="loader" src="./assets/vectorDB - white.svg" alt="logo" />
</div>

<div>







<body *ngIf="show">

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Reset Password</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
        </div>
        <!-- <img src="./assets/images/awtar.png"  width="50px" height="50px" alt=""> -->
        <div class="form-container sign-in">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()" class="form">
            <div class="form-group" style="margin-right: 0px;display: inline-flex; flex-direction: column; ">
              
                <mat-label>Email Address</mat-label>
                <input matInput type="email" formControlName="email" id="email" required  class="form-control"  >
          <div class="resetP"> <button type="submit" class="btn btn-dark " >Reset Password</button></div>  
              <p class="my-2 haveAcc" ><a href="/login" class="">Oh I remembered! Don't want to reset password</a></p>
            </div>
          
          </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <!-- <h1>Hello, Friend!</h1> -->
                    <p>Reset your password to login with correct userId and password</p>
                    <img src="./assets/login.png" alt="">
                </div>
            </div>
        </div>
    </div>

 
</body>

