/* Style for the card container */
.card-container {
    display: flex;
   margin-right: 20px;
  }
  
  /* Style for each card */
  .card {
    width: 300px; /* Set the width of the card */
    border: 1px solid #ccc; /* Add borders for the card */
    border-radius: 5px;
    background-color: #fff; /* Set background color for the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for a card-like effect */
    margin-left: 30px;
  }
  
  /* Style for card items */
  .card-item {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Hover effect for card item */
  .card-item:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  
  .saved-list-message{
    height: 40px;
    padding: 10px;
  }