.sidebar{
  border: 1px solid rgb(241, 239, 239);
}
.table-fixed {
  width: 100%;
  overflow-y: auto;
}

.table-fixed thead th, .cls {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: rgb(253, 253, 253);
  color: rgb(44, 35, 83);
  font-family: 'Times New Roman', Times, serif;
  z-index: 1; 
}
thead{
height: 5px;
} 


/* Style the vertical scrollbar */
/* .table-scroll-container::-webkit-scrollbar {  */
  /* width: 5px;                                */
 /* }  */

/* .table-scroll-container::-webkit-scrollbar-thumb {  */
  /* background-color: #888; */
   /* border-radius: 2px; 
}  */

/* .table-scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */


/* .table-scroll-container::-webkit-scrollbar-horizontal {
  height: 5px; 
} */

/* .table-scroll-container::-webkit-scrollbar-thumb:horizontal {
  /* background-color: #888;  */
  /* border-radius: 5px;
} */ 

/* .table-scroll-container::-webkit-scrollbar-track:horizontal {
  background-color: #f1f1f1;
} */


/* .table { */
  /* width: 100%; Set to 100% to cover the container */
/* } */


/* .table-scroll-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 10000px;
  padding-left: 10px;
  padding-right: 800px;
} */
/* Style the first column to be sticky */
/* .table-fixed th:first-child,
.table-fixed td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: whitesmoke; 
  box-shadow: 5px 0 5px -5px #888;  */
/* }   */


/* Ensure the first column sticks to the left when scrolling horizontally */
/* .table-fixed thead th:first-child { 
  position: sticky;
  left: 0;
  z-index: 2;
  box-shadow: 5px 0 5px -5px #f0ecec;
}  */


.pagination {
display: flex;
align-items: center;
list-style-type: none;
padding: 0;
}

.page-item {
margin: 0 5px;
}

.page-link {
display: flex;
align-items: center;
padding: 10px 15px;
text-decoration: none;
color: black;
background-color: #f8f9fa;

border-radius: 4px;
transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
background-color: #e9ecef;
color: #343a40;
}

.page-link.active {
background-color: #0c4471;
color: white;
border-color: #0c4471;
}

.icon {
width: 20px;
margin-left: 5px;
}

.pagination-info {
margin-top: 10px;
font-size: 14px;
}








/* ****************************************************************************************************************************************************** */
/* this is second table css */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

*{
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
}

html, body{
display:table;
height:100%;
width:100%;
color: #252a3b;
background-color: #f8f8f8;
}
.row__title{
color: #53646f;
font-weight: 400;
font-size: 20px;
margin: 0;
}

.row--top-40{
margin-top: 40px;
}

.row--top-20{
margin-top: 20px;
margin-left: 10px;
}
.table__th {
  color: #9eabb4;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
 cursor: pointer;
  border:0 !important;
padding: 15px 18px  !important;
text-align: center;
}

.table-row {
  border-bottom: 1px solid #e4e9ea;
background-color: #fff;
text-align: center;


align-items: center;

}
.table__th:hover {
  color: #235d79;
  font-weight: bold;
}
.table-row :hover{
color: #548eac;
font-weight: bold;
}

.table--select-all {
  width: 18px;
  height: 18px;
  padding: 0 !important;
  border-radius: 50%;
  border: 2px solid #becad2;
}
.table-row__td {
  padding: 12px 18px !important;
  vertical-align: middle !important;
  color: #53646f;
  font-size: 14px;
  font-weight: 400;
position:relative;

  line-height: 18px !important;
border:0 !important;
}

.table-row__img{
 width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 vertical-align: middle;
}

.table-row--chris .table-row__img {
  background-image: url('https://www.clipartmax.com/png/full/335-3351736_go-back-gallery-for-contact-person-icon-person-icon.png');
}


.table-row__imgg{
width:48px;
height: 40px;
display: inline;
 border-radius: 50%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
align-items: center;


}
.newclass{ 
display: flex;
align-items: center;
justify-content: center;

}

.table-row__info {
  display: inline-block;
  padding-left: 1px;
vertical-align: middle;
}

.table-row__name {
  color: #53646f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;

}

.table-row__small {
  color: #9eabb4;
  font-weight: 300;
  font-size: 12px;
}

.table-row__policy {
  color: #53646f;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;
}
.table-row__p-status {
  margin-bottom: 0;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
color: #9eabb4;
}


.table-row__status{
  margin-bottom: 0;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
color: #9eabb4;
}


.table-row__progress{
  margin-bottom: 0;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
color: #9eabb4;
}

.status:before{
 content: '';
margin-bottom: 0;
width: 9px;
height: 9px;
display: inline-block;
margin-right: 7px;
border-radius: 50%; 
}

/* .status--red:before{
background-color: #e36767;
} */

.status--red{
color: #e36767;
}

/* .status--blue:before{
background-color: #3fd2ea;
} */

.status--blue{
color: #3fd2ea;
}

/* .status--yellow:before{
background-color: #ecce4e;
} */

.status--yellow{
color: #e7c21e;
}

.status--green{
color: #2ba411;
}
/* .status--green:before{
background-color: #6cdb56;
} */

.status--grey{
color: #9eabb4;
}
/* .status--grey:before{
background-color: #9eabb4;
} */
.status--purple{
color: #35607c;
}



.table__select-row {
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  margin: 0 0 0 5px !important;
  vertical-align: middle;
  border: 2px solid #beccd7;
  border-radius: 50%;
cursor: pointer;
}

.table__select-row:hover{
border-color:#01b9d1;
}

.table__select-row:checked {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibS4zLDE0Yy0wLjItMC4yLTAuMy0wLjUtMC4zLTAuN3MwLjEtMC41IDAuMy0wLjdsMS40LTEuNGMwLjQtMC40IDEtMC40IDEuNCwwbC4xLC4xIDUuNSw1LjljMC4yLDAuMiAwLjUsMC4yIDAuNywwbDEzLjQtMTMuOWgwLjF2LTguODgxNzhlLTE2YzAuNC0wLjQgMS0wLjQgMS40LDBsMS40LDEuNGMwLjQsMC40IDAuNCwxIDAsMS40bDAsMC0xNiwxNi42Yy0wLjIsMC4yLTAuNCwwLjMtMC43LDAuMy0wLjMsMC0wLjUtMC4xLTAuNy0wLjNsLTcuOC04LjQtLjItLjN6IiBmaWxsPSIjMDFiOWQxIi8+Cjwvc3ZnPgo=);
  background-position: center;
  background-size: 7px;
  background-repeat: no-repeat;
  border-color: #01b9d1;
}

.table-row--overdue {
  width: 3px;
  background-color: #e36767;
  display: inline-block;
  position: absolute;
  height: calc(100% - 24px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.table-row__edit {
  width: 46px;
  padding: 8px 17px;
  display: inline-block;
  background-color: #daf3f8;
  border-radius: 18px;
  vertical-align: middle;
  margin-right: 10px;
cursor: pointer;
}

.table-row__bin {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
cursor: pointer;
}

.table-row--red {
  background-color: #fff2f2;
}

@media screen and (max-width: 991px){
.table__thead {
  display: none;
}
.companylogo{
  display: inline-flex;
   flex-direction: row;
}


.companyimg{
display: inline-flex;
 flex-direction: column;

}


.table-row {
  display: inline-block;
  border: 0;
  background-color: #fff;
  width: calc(33.3% - 13px);
  margin-right: 10px;
  margin-bottom: 10px;
}
.table-row__img {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;

}



.table-row__td:before{
  content:attr(data-column);
  color: #9eabb4;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.table-row__info {
  display: block;
  padding-left: 0;
}

.table-row__td {
  display: block;
  text-align: center;
  padding: 8px !important;
}
.table-row--red {
  background-color: #fff2f2;
}
 .table__select-row{
 /* display: none;  */
 } 

.table-row--overdue {
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(0%);
  height: 4px;
  }
}

.btn{
/* background-color: #0c4471; */
padding: 5px;
color: rgb(8, 8, 8);
}

.btnexport{
padding: 2px;
}

.btnexport:hover{
color: rgb(175, 96, 96);
}
@media screen and (max-width: 680px){
.table-row {
  width: calc(50% - 13px);
}
}

@media screen and (max-width: 480px){
.table-row {
  width: 100%;
}
}



.companyimg{
display: inline-flex;
 flex-direction: row;
 padding-left: 0px;
  padding-top: 0px;
}

.companylogo{
display: inline-flex;
 flex-direction: row;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);







.forward:hover{
box-shadow:    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.table__th {
text-align: center;
}
.table__th.name {
text-align: center;
}
